@import "~rfs/scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

blockquote {
  @apply p-4;
  @apply italic;
  @apply pl-4;
  @apply my-8;

  p {
    padding: 0 !important;
  }
}

h1, .h1 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(3rem);

}

h2, .h2 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(2.25rem);
}

h3, .h3 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.875rem);
}

h4, .h4 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.5rem);
}

h5, .h5 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.25rem);
}

h6, .h6 {
  @apply font-sans;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.125rem);
}
}

@layer utilities {

  @keyframes pulseBackground {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 0.8;
    }
  }
  @keyframes translateBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.dark {
  .post-content :not(.nested) {
    span:not(.token),
    li {
      @apply tracking-wider;
      @apply leading-relaxed;
      @apply font-normal;
      @apply text-gray-300;
      @include font-size(1.1rem);
    }
  }
}

.post-content :not(.nested){

  a {
    color: #0c608a;
    text-decoration: underline;
  }

  span:not(.token),
  li {
    @apply tracking-wider;
    @apply leading-relaxed;
    @apply font-normal;
    @apply text-gray-800;
    @include font-size(1.1rem);
  }

  ol {
    @apply list-decimal;
    @apply ml-5;
    @apply mt-5;
  }

  ul {
    @apply list-disc;
    @apply ml-5;
    @apply mt-5;
  }

  li > ul {
    @apply mt-0;
  }

  blockquote > h2 {
    @apply text-4xl;
    @apply font-thin;
    @apply pl-12;
  }

}

.post-authors a::after {
  content: ", ";
}

.post-authors a:last-child::after {
  content: "";
}

/* Generated with http://k88hudson.github.io/syntax-highlighting-theme-generator/www */
/* http://k88hudson.github.io/react-markdocs */
/**
 * @author k88hudson
 *
 * Based on prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.nocontainer {
  position: absolute;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

.container {
  @apply max-w-screen-xl;
  @apply px-0;
}

.full-page-generic {
  @apply mx-auto lg:mt-48 mt-16 min-h-screen sm:px-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-all;
  @apply duration-200;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

}

@layer components {

  .green-text {
    @apply text-green-500;
  }

  .title-text {
    @apply text-center text-7xl font-light;
    @apply text-gray-800 dark:text-gray-400;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-action {
    @apply inline-flex items-center justify-center md:px-5 md:py-4 px-2 py-2 border border-transparent text-base font-medium rounded-md hover:shadow-md;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-animate {
    @apply transition ease-in-out transition-colors;
  }

  .btn-gray {
    @apply bg-gray-400 text-gray-800;
  }
  .btn-gray:hover {
    @apply bg-gray-500;
  }
  .card {
    @apply border border-gray-200 dark:border-gray-600 bg-white dark:bg-dark-grey rounded-lg shadow-lg transition duration-200 ease-out transform cursor-pointer;
  }
  .card:hover {
    @apply scale-101;
  }

.featured-post-card {

  .slick-list {
    @apply h-full;
    @apply rounded-lg;

    div:not(.post-card-author):not(.featured-label):not(.post-card-content):not(.post-card-footer) {
      @apply h-full;
    }
  }

  .slick-arrow {
    @apply absolute;
    @apply bottom-0;
    @apply right-0;
    @apply text-white;
  }

  transition: all .25s cubic-bezier(.02, .01, .47, 1);

  &:hover {
    transform: translateY(-5px);
  }

  .post-card-author {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply z-10;
  }

  .post-card-image {
    @apply h-56;
    @apply w-full;
    @apply object-cover;
    @apply rounded-lg;
    @apply relative;
    @apply rounded-b-none
  }

  .post-card-content {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply z-10;
    @apply mt-20;
    @apply ml-10;
    @apply text-white;
  }

  .post-card-footer {
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply text-white;
    @apply ml-10;
    @apply mb-10;
    @apply text-sm;
    @apply font-semibold;

  }

}

.post-card {
  transition: all .25s cubic-bezier(.02, .01, .47, 1);

  &:hover {
    transform: translateY(-5px);
  }

  @apply relative;
  @apply border;

  .post-card-author {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply z-10;
  }

  .post-card-image {
    @apply h-56;
    @apply w-full;
    @apply object-cover;
    @apply rounded-lg;
    @apply relative;
    @apply rounded-b-none
  }

  .post-card-title {
    @apply leading-8;
    @apply text-2xl;
  }

  .post-card-excerpt {
    @apply font-serif;
  }

  .post-card-content {
    @apply relative;
    @apply flex-1;
  }

  .post-card-footer {
    @apply absolute;
    @apply bottom-0;
  }
}

.header {
  min-height: 500px;
}

.mobileSubnav {
  @apply absolute;
  @apply w-full;
  @apply -mx-2;
}

@media (max-width: 767px) {
  .header {
    min-height: 360px;
  }
}

.headroom {
  z-index: 500 !important;
  @apply shadow-md;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Tooltip and Popover 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.tooltip {

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }



  &.card-author-tooltip {
    @apply z-1000;
    @apply bg-black;
    @apply text-xs;
    @apply px-2;
    @apply leading-normal;
    @apply py-1;
    @apply rounded;
    @apply absolute;
    @apply text-gray-400;
    @apply max-w-xs;
    @apply ml-2;
    @apply mt-3;

    &::after,
    &::before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(0, 0, 0, 0);
      border-right-color: #000000;
      border-width: 4px;
      margin-top: -4px;
    }

    &::before {
      border-color: rgba(0, 0, 0, 0);
      border-right-color: #000;
      border-width: 4px;
      margin-top: -4px;
    }
  }

  &.navbar-popover {

    @apply bg-gray-900;
    @apply text-xs;
    @apply px-2;
    @apply leading-normal;
    @apply py-1;
    @apply rounded;
    @apply absolute;
    @apply text-gray-400;
    @apply max-w-xs;
    @apply ml-2;
    @apply -mt-3;
    @apply z-1000;

    &::after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      @apply h-0;
      @apply w-0;
      pointer-events: none;
      @apply absolute;
      @apply border-8;
      border-bottom-color: #000;

      margin-left: -8px;
    }

  }

  &.mobile-navbar-popover {

    @apply bg-black;
    @apply text-xs;
    @apply px-2;
    @apply leading-normal;
    @apply py-1;
    @apply rounded;
    @apply absolute;
    @apply text-gray-400;
    @apply max-w-xs;
    @apply ml-2;
    @apply -mt-3;
    @apply z-1000;

    &::after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      @apply h-0;
      @apply w-0;
      pointer-events: none;
      @apply absolute;
      @apply border-8;
      border-right-color: #000;

      margin-left: -8px;
    }

  }

}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}

.token.punctuation {
  color: #999999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: transparent;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0077aa;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"]>code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #000;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.dark {
  .medium-zoom-overlay {
    background-color: rgb(46, 46, 46) !important;
  }
}

.medium-zoom-overlay {
  @apply z-1000;
}

.medium-zoom-image {
  @apply z-1000;
}

}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Based on: https://codepen.io/nickelse/pen/YGPJQG
    Influenced by: https://sproutsocial.com/
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.mega-menu {
  left: 0;
  top: 0;
  @apply mt-16;
  @apply w-full;
  @apply absolute;
  @apply text-left;
}


/*********************************************************
* General
*/
pre[class*="language-"],
code[class*="language-"] {
  color: #5c6e74;

  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  @include font-size(0.9rem);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  @apply bg-gray-200;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  @apply bg-gray-200;
}

:not(pre)>code[class*="language-"] {
  padding: .3em .3em;
  border-radius: .3em;
  color: #db4c69;
  @apply bg-gray-200;
}

.dark {
  pre[class*="language-"]::selection,
  code[class*="language-"]::selection,
  pre[class*="language-"]::mozselection,
  code[class*="language-"]::mozselection {
    text-shadow: none;
    @apply bg-gray-700;
  }

  pre[class*="language-"],
  code[class*="language-"] {
    @apply text-gray-400;
  }

  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    @apply bg-gray-800;
  }

  :not(pre)>code[class*="language-"] {
    padding: .3em .3em;
    border-radius: .3em;
    color: #db4c69;
    @apply bg-gray-800;
  }
}

@media print {

  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}



figure {
  @apply my-8;
  @apply -mx-16;
  width: calc(100% + 8rem);

  figcaption {
    @apply text-center;
  }
}

img[lazy=loading] {
  @apply animate-pulse;
  background: url('leaves-loading.gif') center center repeat;
  background-size: 8rem;
  
  animation: pulseBackground 0.4s ease-in-out infinite alternate, translateBackground 20s ease-in-out infinite alternate;
}